<link rel="stylesheet" href="assets/css/common.css">

<link rel="stylesheet" href="assets/css/home.css">
<link rel="stylesheet" href="assets/css/common.css">
<!-- <div class='view-school'>
	<div class='homepage-hero blog'>
        <div class='container'>
            <div class='row text-center'>
            <h2 class='headline'><a href="/">Juliette Nkwor : my Code, my Design, my Way!
            </a></h2>
            <h3 class='subtitle'> Doing the actual coding.</h3>
            </div>
        </div>
    </div> -->
    <div class="blog-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="post">
                        <h1>About The Author</h1>
                        <div class="post-byline">
                            <img src="/assets/img/mypics.jpg" style="margin-top: -15px">
                             <div class="post-author-name" style="margin-top:40px">Hello everyone!</div>
                            <div class="post-date">My name is Juliette</div> 
                        </div>
                        <div class="post-content" style="margin-top:40px">
                                <p>Welcome to my little place on the internet. I’m a Software developer from Nigeria. 
                                To be precise, I am a Mean Stack developer and I love learning about new technologies. 

                                Coding was an hobby that turned into a career. 
                                
                                I like to watch tv, gist and travel in my spare time.<br/>

                                My dream is to become the number one hacker within the next five years!<br/>

                                
                                Sincerely, my programming journey has been challenging and intresting. If you wish to follow
                                my footstep please check out this websites and tutorials to get started; 
                                HomeandLearn, w3schools, Udacity, TutorialPoints, Scotch learning 
                                platform, Azat Mardan and the Node University.<br/> 

                                This blog will be a form of expressing my different experiences in my work place, 
                                as well as my different experiences with technologies I will come to work with. <b>Stay tuned.</b><br/><br/>

                                <b>Current Project : </b>School Management System<br/>
                                <b>My Programming Toolkit: </b>NodeJs, ExpressJs, AngularJs, ReactJs, Mongodb etc<br/>

                                <br/>
                                <a href="/contact">Talk to me</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="sidebar-block">
                        <h2>ABOUT</h2>
                        <div class="content">
                            <p>This blog will be a form of expressing my different experiences in my work place, 
                                as well as my different experiences with technologies I will come to work with.<b> Stay tuned.</b>
                            </p>
                            <p><br></p>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
<!-- </div> -->
