<div class="page-header">
    <h1>{{main.username}} says hello on the home page</h1>
</div>

<!-- public/views/home.html -->
<!-- <link rel="stylesheet" href="css/blog.css"> <!-- custom styles -->
<!-- <div class="topbar" ng-style="{'background-image':'url({{article.url}})'}">
	<div class="">
	    <div class="container-fluid content" ng-style="{'background-image':'url({{article.url}})'}">
	        <div class="row" style="margin-left: 300px">
	            <ul class="post-grid " >
	              <li class="col-md-3 articlepage" ng-repeat="article in posts">
				  <h1><a href="/article">djfdhhjfdhjhfdh</a></h1>
		           <h1  ng-click="selectTab(article._id)"><a href="/article"></a>{{article.title}}</a></h1>
		            <p>{{article.createdAt}}</p>
    				<p>{{article.body|limitTo:200}}{{article.body.length > 100?'.....':''}}</p>
	              <!--  <p class="fa fa-comment pull-left"></p>
	                <p class="fa fa-heart pull-right"></p> -->
	             <!-- </li>
	            </ul>  -->
	            <!-- <div  class="post" ng-repeat="article in posts" ng-show="isSelected($index)">
	            	<h3>{{article.title}}</h3>
	            	<p>{{article.createdAt}}</p>
    				<p>{{article.body}}</p>
	            </div> -->
	        <!-- </div>

	   </div>

	</div>

</div>  -->
