/* .mainspecific{
    background-image: url("https://picsum.photos/2001/1001");
    height: 50vh;
    padding: 10px;
} 
.mainContent{
    padding: 5px;
    /* margin-left: 100px;
    margin-right:100px */

    /* margin-left: 350px;
    margin-right: 350px; */
/* }
.mainContent  h2 > a {
    color: #000000;
    font-size: 31px;
    line-height: 1.4em;
}
.mainContent  h2 > a:hover,
.mainContent   h2 > a:focus {
    color: rgb(15, 199, 122);
    text-decoration: none
} */ */